<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div id="container">
        <div class="element1"><b>HOME</b></div>
        <div class="element2"><b>LOG IN</b></div>
        <div class="element3"><b>SIGN UP</b></div>
        <div class="element4"><b><a href="/">YOUR ORDERS</a></b></div>
    </div>
    <div id="cuisine">
        <div class="item1"></div>
        <div class="item2">
            <button class="inntext1">WELCOME TO OUR<br><br>ONLINE FOOD <br><br>WEBSITE</button>

            <button class="inntext2">OUR FOOD DELIVERY<br><br>IS ONE OF THE <br><br>BEST...</button></div>
   
    </div>

    <div id="fooditems">
        <div class="heading"><b>Here is the list of food items which are available in our restraunt</b></div>
        <div class="food "><img src="besan-curry.jpg"><br>besan curry</div>
        <div class="food "><img src="image/cadai paneer.jpg"><br>cadai paneer</div>
        <div class="food "><img src="image/chana-masala.jpg"><br>chana sabzi</div>
        <div class="food "><img src="image/bhindi-special.jpg"><br> bhindi</div>
        <div class="food "><img src="image/chole-khulche.jpg"><br>chole khulche</div>
        <div class="food "><img src="image/dal-curry.jpg"><br>moong dal</div>
        <div class="food "><img src="image/dal-makhani.jpg"><br>dal makhani</div>
        <div class="food"><img src="image/dam-allo.jpg"><br>dam allo</div>
        <div class="food"><img src="image/chole-bhature.jpg"><br>chole bhature</div>
        <div class="food"><img src="image/mix-veg.jpg"><br>mix veg</div>
        <div class="food"><img src="image/rajma.jpg"><br>rajma</div>
        <div class="food"><img src="image/shahi-paneer.jpg"><br>shahi paneer</div>
        <div class="food"><img src="image/navaratan-korma.jpg"><br>navaratan</div>
        <div class="food"><img src="image/normal-thali.jpg"><br>thali</div>
        <div class="food"><img src="image/palak-paneer.jpg"><br>palak paneer</div>
        <div class="food"><img src="image/fried-allo.jpg"><br>fried allo</div>
        <div class="food"><img src="image/dasa.jpg"><br>dosa</div>
        <div class="food"><img src="image/paratha.jpg"><br>paratha</div>
        <div class="food"><img src="image/chapati.jpg"><br>roti</div>
        <div class="food"><img src="image/butter-naan.jpg"><br>naan</div>
    </div>

    
    <script src="java.js"></script>
    
</body>
</html> 